@model user;
@{user user = ViewBag.user;}
<div>
	<div class="justify-content-center row">
		<h1 class="col-12 text-center">Главная панель @user.login</h1>
		<p>@ViewBag.us</p>
	</div>
	<h3>Учительская панель</h3>
	<div class="segment row justify-content-center">
		@{
			try
			{
				for(int i = 0; i < ViewBag.teacher.Count; i++)
				{
					if (ViewBag.teacher[0] != "")
					{
						<div class="row align-items-center mb-2" style="margin: 10px 0;">
							<p class="col-4 mb-0">@ViewBag.teacher[i]</p>
							<p class="col-4 mb-0">@ViewBag.objec[i]</p>
							<form asp-action="DeleteTeacher" asp-controller="Home" method="get" class="col-3 d-flex justify-content-end mb-0">
								<input type="hidden" asp-for="login" />
								<input type="hidden" asp-for="password" />
								<input type="hidden" asp-for="id" />
								<input type="hidden" name="name" value="@ViewBag.teacher[i]" />
								<input type="hidden" name="name" value="@ViewBag.objec[i]" />
								<button class="btn btn-close btn-dark" type="submit"></button>
							</form>
						</div>
					}
					else
					{
						<p class="col-12 text-center m-5">У вас еще нет зарегестрированных учителей</p>
					}
				}
			}
			catch
			{
				<p class="col-12 text-center m-5">У вас еще нет зарегестрированных учителей</p>
			}
		}
		<form asp-action="AddTeacher" asp-controller="Home" method="get" class="row justify-content-center col-12">
			<input type="hidden" asp-for="login"/>
			<input type ="hidden" asp-for="password" />
			<input type="hidden" asp-for="id" />
			<input type="text" name="name" class="form-control col-6 m-2" placeholder="имя учителя"/>
			<select name="selectedSubject" class="form-select m-2 col-6" aria-label="Выберите значение" required>
				<option class="col-6" selected disabled>Выберите Предмет</option>
				@for (int i = 0; i < ViewBag.availableItems.Count; i++)
				{
					<option value="@ViewBag.availableItems[i]">@ViewBag.availableItems[i]</option>
				}
			</select>
			<button class="btn btn-dark col-6 m-2" type="submit">Добавить учителя</button>
		</form>
	</div>
	<h3>Предметная панель</h3>
	<div class="segment">
		<p>mainContent</p>
	</div>
</div>
