@model user;
@{user user = ViewBag.user;}
<div>
	<div class="justify-content-center row">
		<h1 class="col-12 text-center">Главная панель @user.login</h1>
		<p>@ViewBag.us</p>
	</div>
	<h3>Учительская панель</h3>
	<p>@ViewBag.r</p>
	<div class="segment row justify-content-center">
		@{
			try
			{
				for(int i = 0; i < ViewBag.teacher.Count; i++)
				{
					if (ViewBag.teacher[0] != "")
					{
						<div class="row align-items-center mb-2" style="margin: 10px 0;">
							<p class="col-4 mb-0">@ViewBag.teacher[i]</p>
							<p class="col-4 mb-0">@ViewBag.objec[i]</p>
							<form asp-action="DeleteTeacher" asp-controller="Home" method="get" class="col-3 d-flex justify-content-end mb-0">
								<input type="hidden" asp-for="login" />
								<input type="hidden" asp-for="password" />
								<input type="hidden" asp-for="id" />
								<input type="hidden" name="name" value="@ViewBag.teacher[i]" />
								<input type="hidden" name="name" value="@ViewBag.objec[i]" />
								<input type="hidden" name="adres" value="MainPanel" />
								<button class="btn btn-close btn-dark" type="submit"></button>
							</form>
						</div>
					}
					else
					{
						<p class="col-12 text-center m-5">У вас еще нет зарегестрированных учителей</p>
					}
				}
			}
			catch
			{
				<p class="col-12 text-center m-5">У вас еще нет зарегестрированных учителей</p>
			}
		}
		<form asp-action="AddTeacher" asp-controller="Home" method="get" class="row justify-content-center col-12">
			<input type="hidden" asp-for="login"/>
			<input type ="hidden" asp-for="password" />
			<input type="hidden" asp-for="id" />
			<input type="text" name="name" class="form-control col-6 m-2" placeholder="имя учителя"/>
			<select name="selectedSubject" class="form-select m-2 col-6" aria-label="Выберите значение" required>
				<option class="col-6" selected disabled>Выберите Предмет</option>
				@for (int i = 0; i < ViewBag.availableItems.Count; i++)
				{
					<option value="@ViewBag.availableItems[i]">@ViewBag.availableItems[i]</option>
				}
			</select>
			<button class="btn btn-dark col-6 m-2" type="submit">Добавить учителя</button>
		</form>
	</div>
	<h3>Предметная панель</h3>
	<div class="segment row justify-content-center">
		@{
			try
			{
				for (int i = 0; i < ViewBag.availableItems.Count; i++)
				{
					if (ViewBag.availableItems[0] != "")
					{
						<div class="row justify-content-center col-7 m-1">
							<p class="col-10">@ViewBag.availableItems[i]</p>
							<form asp-action="DeleteObjec" asp-controller="Home" class="col-2" method="get">
								<input type="hidden" asp-for="login" />
								<input type="hidden" asp-for="password" />
								<input type="hidden" asp-for="id" />
								<input type="hidden" name="DeletedObject" value="@ViewBag.availableItems[i]" />
								<button type="submit" class="btn btn-dark btn-close"></button>
							</form>
						</div>
					}	
				}
			}
			catch
			{
				<p class="col-12 text-center m-5">У вас еще нет зарегестрированных предметов</p>
			}
		}
		<form class="col-7 row justify-content-center" method="get" asp-action="AddObject" asp-controller="Home">
			<input type="hidden" asp-for="login" />
			<input type="hidden" asp-for="password" />
			<input type="hidden" asp-for="id" />
			@if (ViewBag.ChekNullStringItem == 1)
			{
				<p>Введите название предмета</p>
			}
			<input type="text" class="form-control col-7 m-1" name="NewItem" />
			<button class="btn btn-dark col-7 m-2" type="submit">Добавить новый предмет</button>
		</form>
	</div>
	<h3>Существующее уроки</h3>
	<div class="segment row justify-content-center">
		@{
			try
			{
				<input type="hidden" value="@ViewBag.lesson[0].day" />
				<div class="col-12 m-2 row justify-content-start">
					<p class="col-2">День недели</p>
					<p class="col-2">Номер урока</p>
					<p class="col-2">Урок</p>
					<p class="col-2">Преподаватель</p>
					<p class="col-1">Класс</p>
					<p class="col-1">Номер Кабинета</p>
				</div>
				for (int i = 0; i < ViewBag.lesson.Count; i++)
				{
					<div class="col-12 m-2 row justify-content-start">
						<p class="col-2">@ViewBag.lesson[i].day</p>
						<p class="col-2">@ViewBag.lesson[i].number</p>
						<p class="col-2">@ViewBag.lesson[i].less</p>
						<p class="col-2">@ViewBag.lesson[i].teacher</p>
						<p class="col-1">@ViewBag.lesson[i].clas</p>
						<p class="col-1">@ViewBag.lesson[i].room</p>
						<form asp-action="DeleteLesson" asp-controller="Home" method="get" class="col-1">
							@{
								MyLessons.ConverterSQLClass.lesson DelLesson = new MyLessons.ConverterSQLClass.lesson
								(@ViewBag.lesson[i].day,
								@ViewBag.lesson[i].number,
								@ViewBag.lesson[i].less,
								@ViewBag.lesson[i].teacher,
								@ViewBag.lesson[i].clas,
								@ViewBag.lesson[i].room);
							}
							<input type="hidden" asp-for="login" />
							<input type="hidden" asp-for="password" />
							<input type="hidden" asp-for="id" />
							<input type="hidden" name="DelLesson" value="@DelLesson" />
							<button class="btn btn-close btn-dark" type="submit" />
						</form>
					</div>
				}
			}
			catch
			{
				<br />
				<br />
				<p>У вас еще нет зарегестрированных уроков</p>
				<br />
				<br />
			}
		}
		<form class="col-7 m-3 row justify-content-center" asp-action="AddLesson" asp-controller="Home" method="get">
			<input type="hidden" asp-for="login" />
			<input type="hidden" asp-for="password" />
			<input type="hidden" asp-for="id" />
			<p>Преподаватель && Урок</p>
			<select name="selectedSubject" class="form-select m-2" aria-label="Выберите Преподавателя" required>
				<option selected disabled>Выберите Предмет</option>
				@{
					try
					{
						for (int i = 0; i < ViewBag.AvaliableItemsTeachAndObjec.Count; i++)
						{
							<option value="@ViewBag.AvaliableItemsTeachAndObjec[i]">@ViewBag.AvaliableItemsTeachAndObjec[i]</option>
						}
					}catch{}
				}
			</select>
			<p>Класс</p>
			<input type="text" class="form-control col-7 m-1" name="clas" value="3А" />
			<p>Кабинет</p>
			<input type="number" class="form-control col-7 m-1" name="room" value="1" />
			<p>Номер урока</p>
			<input type="number" class="form-control col-7 m-1" name="num" value="1" />
			<p>День недели</p>
			<input type="number" class="form-control col-7 m-1" name="day" value="1" />
			<button type="submit" class="btn btn-dark col-5 m-2">Добавить урок</button>
		</form>
	</div>
</div>
@{
	try
	{
		if (ViewBag.ChekNull)
		{
			<script>
				alert("укажите все данные при создании нового урока");
			</script>
		}
	}
	catch
	{

	}

}